---
- name: Power On Lab Cluster
  hosts: cluster
  connection: local
  gather_facts: no
  tasks:
    - name: Ensure all nodes are powered on
      community.general.ipmi_power:
        name: "{{ ipmi_host }}"
        user: "{{ ipmi_user }}"
        password: "{{ ipmi_pass }}"
        state: on
      loop: "{{ nodes }}"
      register: ipmi_result

    - name: Show results
      debug:
        msg: "Node {{ item.item.name }} ({{ item.item.ipmi_ip }}): {{ item.state }}"
      loop: "{{ ipmi_result.results }}"
